
:root {
    --display: 'Bebas Neue', sans-serif;
    --body: 'News Cycle', sans-serif;
    --sub: 'Dawning of a New Day', cursive;
}

/* Neutral: */

/* :root { 
--text: #233239;
--alt-bg: #7a6c5d;
--accent2: #c17c74;
--bg: #bcac9b;
--accent1: #ddc9b4; 
} */

/* Adventurous: */

/* :root {
--text: #2d3047;
--accent2: #c04abc;
--accent1: #e0a458;
--alt-bg: #419d78;
--bg: #ffdbb5;
} */

/* Earthy */

/* :root {
--text: #4c2e05;
--alt-bg: #7a8450;
--accent1: #bcac9b;
--bg: #aebd93;
--accent2: #bee7b8;
} */
:root {
    --text: #f7dba7;
    --alt-bg: #f1c386  ;
    --accent1: #041F1E;
    --bg: #1E2D2F;
    --accent2: #944721;
    }

body {
    background-color: var(--bg);
    background-image: url("../images/mountain.jpg");

    color: var(--text);
    padding: 0px;
    margin: 0px;
    align-items: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
}
header {
    background-color: var(--alt-bg);
    color: var(--accent2);
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* nav {
    background-color: var(--accent1);
    font-family: var(--display);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
nav a:hover {
    color: var(--accent1);
    background-color: var(--accent2);
}
nav a {
    text-decoration: none;
    color: var(--text);
} */
#menu {
    display: block;
    background-color: var(--accent2);
    color:var(--alt-bg);
    position: fixed;
    top: 0;
    right: 0;
    border: 0px;
    padding: .25rem;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "⇈";
    background-color: var(--accent1);
    color: var(--accent2);
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--accent1);
    color: var(--text);
    position: fixed;
    top: 0;
    right: 0;
    border: 0px;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    border: 0px;
}
.navigation li a:hover {
    background-color: var(--accent2);
    color: var(--accent1);
    font-weight: 700;
}
.open li {
    display:block;
    width: 100%
}
.open li a {
    display: block;
}
.navigation .active {
    background-color: var(--alt-bg);
    color: var(--accent1);
}
h2 {
    font-weight: lighter;
    color: #b7e0e0;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}
p {
    font-family: var(--body);
}
h1 {
    font-family: var(--display);
    font-size: 250%;
    margin: 0px;
}
h2, h3, h4, h5 {
    font-family: var(--body);
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: var(--accent1);
}
h3 {
    font-family: var(--sub);
    font-weight:bold;
    font-size: 250%;
    margin-top: -20px;
    color: var(--accent1);
}
h5 {
    color: #576163;
}
main {
    max-width: 90%;
    justify-self: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#wireframebody {
    display: flex;
    flex-direction: column;
}
#wireframe {
    max-width: 90%;
}
section {
    background-color: var(--alt-bg);
    border-top: .5rem solid var(--accent2);
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1px 2px 10px 10px;
    color: var(--accent1);
    height: fit-content;
}
#name {
    margin-top: 0px;
}
#purpose {
    margin-top: 0px;
}
main h2 {
    padding-top: 1rem;
}

@media screen and (min-width: 500px) {

    #menu {
        display: none;
    }
    .navigation li a {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 1rem;
        margin: 0;
        padding-right: 0px;
    }
    .navigation {
        position: absolute;
        top: auto;
        padding: 0px;
        margin: 0px;
        grid-column: 1/3;
        width: 100%;
        flex-direction: row;
    }
    
    .navigation ul {
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .navigation li {
        display: block;
        padding: 0 1rem;
        width: 100%;
        margin: 0px;
        padding-left: 0;
    }
    main {
        width: 100%;
        justify-self: center;
        display: grid;
        grid-template-columns: .5fr 2fr .15fr 2fr .5fr;
        grid-template-rows: 1fr 2fr 2fr;
    }
    section {
        background-color: var(--alt-bg);
        border-top: .5rem solid var(--accent2);
        margin: 0px;
        margin-bottom: 1rem;
        padding: 1rem;
        color: var(--accent1);
    }
    #name {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 0px;
    }
    #purpose {
        grid-column: 4/5;
        grid-row: 2/3;
        margin-top: 0px;
    }
    #scenarios {
        grid-column: 2/5;
        grid-row: 3/4;
    }
    main h2 {
        grid-column: 2/5;
        grid-row: 1/2;
        padding-top: 3rem;
        font-size: 250%;
    }}