:root {
    --text: #f7dba7;
    --alt-bg: #f1c386  ;
    --accent1: #041F1E;
    --bg: #1E2D2F;
    --accent2: #944721;

    --display: 'Bebas Neue', sans-serif;
    --body: 'News Cycle', sans-serif;
    --sub: 'Dawning of a New Day', cursive;
    }
@media screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    footer {
        background-color: var(--accent2);
        margin: 0px;
        max-width: 100%;
        height: fit-content;
        position:relative;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 70%;
        padding-left: 10px;
        }
    #home-cards {
        display: grid;
        grid-template-columns: 4fr 1fr;
        }
    #events {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color:blanchedalmond;
        border-top: 1rem solid var(--alt-bg);
        padding: 0px 1rem;
        color: var(--accent1);
    }
    #weather {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: var(--accent1);
        padding: 0px 0px 1rem 1rem;
        margin-left: 2rem;
        border: 1px solid var(--text);
        border-top: 2rem solid var(--text);
    }
    #spotlight {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color:blanchedalmond;
        border-top: 1rem solid var(--alt-bg);
        padding: 0px 1rem;
        color: var(--accent1);
        margin-top: 2rem;
    }
    #menu {
        display: none;
    }
    .navigation li a {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 1rem;
        margin: 0;
        padding-right: 0px;
    }
    .navigation {
        position: absolute;
        top: auto;
        padding: 0px;
        margin: 0px;
        grid-column: 1/3;
        width: 100%;
        flex-direction: row;
    }
    
    .navigation ul {
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .navigation li {
        display: block;
        padding: 0 1rem;
        width: 100%;
        margin: 0px;
        padding-left: 0;
    }
    
    #hero {
        padding: 0px;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 1fr;
        margin-top: 3.2rem;
        margin-right: 0px;
        padding-right: 2rem;
        }
    #hero-img {
        grid-column: 1/5;
        grid-row: 1/3;
        width:100%;
    }
    }
    #hero-text {
        grid-column: 3/5;
        grid-row: 1/3;
        z-index: 1;
        color: white;
        width: 100%;
        text-align: right;
    }
    #hero-text h1 {
        font-size: 600%;
        width: 50vw;
        color: var(--accent1);
        margin-bottom: 1rem;
        font-family: var(--display);
    }
    #hero-text p {
        font-size: 36px;
        width:70%;
        background-color: rgba(63, 69, 90, 0.6);
        padding: 2rem;
        padding-left: 0px;
        margin-bottom: 2rem;
        }
    #hero-text button {
        max-width: 10rem;
        max-height: 5rem;
        background-color: #041F1E;
        color: #9e9d48;
        border: 8px solid #041F1E;
        border-top-color:#2c4043;
        border-left-color:#22322f;
        box-shadow: -5px 5px 10px #1e2f27;
    }
    #hero-text button:hover {
        /* border-left-color:#a7723a ;
        border-top-color: #a7723a;
        border-bottom-color: var(--accent2);
        border-right-color: var(--accent2);
        background-color: var(--accent2);
        color: white; */
        border: 8px solid #041F1E;
        border-top-color:#2c4043;
        border-left-color:#22322f;
        background-color: #041F1E;
        color: #d3d043;
        margin-right: 5px;
        margin-top: 5px;
        box-shadow: 0px 0px 5px #101e17;
    }
    .discover {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    #sidebar {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        background-color: var(--accent2);
        width: 100%;
        height: 99%;
        border-right: .25rem solid var(--accent2);
    }
    .side {
        color: var(--accent1);
        background-color: var(--text);
    }
    #calendar {
        display: block;
        margin-top: 1rem; 
        width: 100%;
        height: fit-content;
        background-color: var(--bg);
    }
    ul {
        list-style-type: none;
    }
    /* Month header */
    .month {
    padding: .5rem 0rem;
    width: 100%;
    background: var(--accent1);
    text-align: center;
    margin: 0px;
    }

    /* Month list */
    .month ul {
    margin: 0;
    padding: 0;
    width: 100%;
    }

    .month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    }

    /* Previous button inside month header */
    .month .prev {
    float: left;
    padding-top: 0px;
    margin-left: 1rem;
    }

    /* Next button */
    .month .next {
    float: right;
    padding-top: 0px;
    margin-right: 1rem;
    }
    .month .next:hover, .month .prev:hover {
        color:#1abc9c;
    }
    #calendar table {
        width: 100%;
    }
    .weekdays {
        margin: 0px;
        padding: 1px 2px;
        background-color: var(--accent2);
        color: var(--text);
      }
      
      .weekdays td {
        display: inline-block;
        width: 14.3%;
        color: #0c0720;
        text-align: center;
      }
      
      /* Days (1-31) */
      .days {
        padding: 1px 0;
        background: #eee;
        margin: 0px;
      }
      
      .days tr {
        list-style-type: none;
        display: inline-block;
        width: 14.3%;
        text-align: center;
        margin-bottom: 5px;
        font-size:12px;
        color: #1f1405;
        justify-content: space-evenly;
      }
      .days td {
        width: fit-content;
        height: fit-content;
        padding: 5px;
        background-color: var(--alt-bg);
      }
      /* Highlight the "current" day */
      .days td .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
      }
      td:hover {
        background-color: #1abc9c;
      }

      #events-overview {
        width: 100%;
        height: 20rem;
        overflow: auto;
        text-align: left;
        list-style-type: none;
        margin-top: 1rem;
      }
      #events-overview ul {
        margin-left: 0px;
        padding-left: .25rem;
      }
      #events-overview li {
        margin-top: 10px;
      }
      #events-overview ul li a{
        text-decoration: none;
        font-weight: bold;
        padding: 0px;
        color: #6d1001;
      }
      #events-overview ul li a:hover {
        color:#1abc9c;
      }
      #events-overview p {
        padding: .25px;
        margin: 0px;
        font-size: small;
      }
      #events-overview h3 {
        position: sticky;
        top: 0;
        padding: .25rem;
        margin: 0px;
        background-color: var(--accent1);
        color: white;
        font-weight: lighter;
      }
      
      #statistics {
        height: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: .25rem;
        background-color: var(--accent2);
        color: var(--text);
        font-size: small;
        padding: 0px 1rem;
        padding-top: 2rem;
        border-top: 2px solid #6d1001;
        border-bottom: 2px solid #6d1001;
      }
      #statistics span {
        color: var(--alt-bg);
        font-size: x-large;
        font-weight: bolder;
        text-shadow: -2px 3px 0px #6d1001;
      }

    .images {
        grid-column: 2/3;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
        padding-bottom: 0px;
        margin-top: 2.5rem;
        color: var(--text);
        font-family: var(--sub);
        font-size: 24px;
    }
    .images picture {
        padding: 2rem;
    }
    img {
        background: black;
        animation: fade 5s;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #sidebar {
        margin-top: 3.2rem;
        width: 70%;
        padding: 1rem;
        padding-bottom: 0px;
    }

    #events-overview a {
        font-size: 24px;
    }
    .images img:hover {
        position: relative;
        z-index: 3;
        width: 720px;
        height: 480px;
        justify-self: center;
        margin: -4.06rem;
        box-shadow: 0px 0px 30px rgb(249, 242, 227);
        
    }
         /*form*/
     #joinBdy {
        width: 100vw;
        height: fit-content;
        background-color: var(--text);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #joinBdy h3 {
        color: var(--accent2);
        margin-top: 7rem;
        margin-bottom: 0px;
        margin-left: 2rem;
    }
    #left {
        grid-column: 1/2;
        width: 50vw;
    }
    #right {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
        width: 50vw;
    }
    #memberships {
        width: 45vw;
        grid-row: 2/3;
        background-color: var(--bg);
        margin: 0rem;
        margin-top: 10rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0px 7px 10px #1b2a2bd7;
    }
    #memberships table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }
    #memberships tr th:nth-child(3), #memberships tr td:nth-child(3) {
        background-color: rgba(138, 76, 51, 0.696);
        border: none;
    }
    #memberships tr th:nth-child(4), #memberships tr td:nth-child(4) {
        background-color: rgba(185, 195, 198, 0.395);
        border: none;
    }
    #memberships tr th:nth-child(5), #memberships tr td:nth-child(5) {
        background-color: rgba(225, 141, 23, 0.587);
        border: none;
    }
    #memberships td {
        padding: 2rem;
    }
    #memberships th:first-child {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 3rem;
    }
    #memberships td:hover {
        background-color: var(--bg);
    }
    form {
        display: flex;
        flex-direction: column;
        background-color: var(--alt-bg);
        padding: 2rem;
        border-radius: .5rem;
        color: var(--accent1);
        padding-right: 7rem;
        width: 70%;
        margin: 2rem;
        margin-top: 1rem;
        box-shadow: 0px 7px 10px rgba(120, 83, 40, 0.744);
    }
    form p {
        font-size: small;
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
    form label {
        display: block;
        margin-bottom: 1.5rem;
    }
    .req {
        font-weight: bolder;
    }
    form input {
        margin-top: 1rem;
        border: 2px solid rgb(222, 178, 107);
        border-bottom: none;
        border-top-color: rgb(178, 143, 86);
    }
    form label input {
        display: block;
        padding: .75rem;
        font-size: 1rem;
        max-width: 20rem;
    }
    #submitBtn {
        width: 50%;
        max-width: 20rem;
        border-radius: 10rem;
        border: none;
        margin-top: 2rem;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: bolder;
        color: var(--text);
        background-color: var(--bg);
    }
    #submitBtn:hover {
        background-color: var(--accent2);
    }


    input:required {
        border: 2px solid red;
    }
    input:required:valid {
        border: 2px solid rgb(222, 178, 107);
        border-bottom: none;
    }
    #tyBdy {
        align-items: center;
        text-align: center;
    }
    #tyMsg {
        margin-top: 10rem;
    }
    #tyBtn {
        text-decoration: none;
        background-color: var(--accent2);
        padding: 2rem;
        border-radius: 10rem;
        color: var(--text);
        font-family: var(--display);
        font-size: 2rem;
        margin-top: 2rem;
        border-top: 7px solid var(--alt-bg);
        border-right:5px solid #ca9b5f;
        border-left:5px solid #ca9b5f;
        box-shadow: 0px 5px 5px black;
    }
    #tyBtn:hover {
        box-shadow: 0px 2px 3px black;
        border-top: 2px solid var(--alt-bg);
        border-left: 2px solid #ca9b5f;
        border-right: 2px solid #ca9b5f;
    }
    .top {
        display: block;
        margin-top: 1rem;
    }
    select{
        width: 12rem;
    }
    #selectP {
        display: none;
}

@media screen and (min-width: 00px) and (max-width: 1030px) {

    #hero-text {
        grid-column: 3/5;
        grid-row: 1/3;
        z-index: 1;
        color: white;
        width: 100%;
        text-align: right;
    }
    #hero-text h1 {
        font-size: 400%;
        width: 200%;
        color: var(--accent1);
        margin-top: -30px;
        margin-bottom: 0px;
        font-family: var(--display);
    }
    #hero-text p {
        font-size: 24px;
        width:100%;
        background-color: rgba(63, 69, 90, 0.6);
        padding: 1rem;
        padding-left: 0px;
        }
    #hero-text button {
        max-width: 10rem;
        max-height: 5rem;
        background-color: #041F1E;
        color: #9e9d48;
        border: 8px solid #041F1E;
        border-top-color:#2c4043;
        border-left-color:#22322f;
        box-shadow: -3px 3px 5px #1e2f27;
    }

    #hero-text p {
        margin-top: 0px;
    }
    #joinBdy {
        display: flex;
        flex-direction: column;
    }
    #memberships {
        margin-top: 0rem;
        width: 90vw;
    }
    form {
        margin: 0rem 1rem;
        width: 90vw;
        padding: 0rem;
        padding-left: 1rem;
    }
    form p {
        margin-top: 1rem;
    }
    #selectP {
        display: initial;
    }

}